#likes-main {
  position: relative;
  margin: auto;
  display:  block;
  width: 940px;
  background-color: #f3f5f9;
  border-radius: 5px;
  border-top: 1px solid white;
  top: 20px;
  min-height: 800px;

  font-size: 15px;
  font-family: 'Open Sans', sans-serif;

  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;


  #likes-header {
    height: 108px;
    width: 880px;
    margin: auto;
    border-bottom: 1px solid #ccd0d9;

    h1 {
      padding-top: 25px;
      letter-spacing: 0px;
      color: #474d59;
      height: 40px;
      font-weight: 300;
      font-size: 28px;
      line-height: 36px;

    }

    .page-tabs {
      display: block;
      float: left;
      position: absolute;
      margin-top: 9px;
      padding-left: 0;
      height: 40px;
      top: 65px;
      line-height: 22px;
      color: #5e6573;
      left: 30px;

      li {
        float: left;
        margin-right: 30px;
        height: 31px;
        color: #474d59;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        font-size: 18px;
        line-height: 25px;
      }

      li:active {
        color: #4c7bd9;
        border-bottom: 3px solid #4c7bd9;
      }

      li:hover {
        cursor: pointer;
        color: #4c7bd9;
      }

      #selectedTab {
        color: #4c7bd9;
        border-bottom: 3px solid #4c7bd9;
      }
    }


  }

  .likes-monolith {
    display: block;
    float: left;
    margin: 30px;

    #main-column {
      float: left;
      width: 550px;
      margin: auto;
    }

  }

  .user-list-section-left {
    .likelist-user {
      display: block;
      position: relative;
      width: auto;
      height: 121px;
      margin: 0 0 10px 0;
      padding: 0;
      border: none;
      border-bottom: 1px solid #ccd0d9;
      background: #FFF;
      font-family: 'Open Sans',sans-serif;
      border-radius: 2px;
      cursor: pointer;
    }

    div {
      position: relative;
      overflow: hidden;

      width: 125px;
      height: 120px;
      z-index: 3;

      img {
        left: -33%;
        position: absolute;
        height: 120px;
        width: auto;
      }

      h4 {
        height: auto;
        padding-top: 19px;
        line-height: 21px;
        position:absolute;
        right: -60px;
        z-index: 5;
      }

      h5 {
        height: auto;
        padding-top: 19px;
        line-height: 21px;
        position:absolute;
        right: -50px;
        z-index: 5;
      }

      p {
        height: auto;
        padding-top: 19px;
        line-height: 21px;
        position:absolute;
        right: -60px;
        z-index: 5;
      }

    }
  }

  .user-list-like-count {
    width: 280px;
    position: absolute;
    right: 30px;
    // height: 65px;
    top: 150px;
    background-color: #ffe8c3;
    color: #ef860d;

    padding: 10px;

    i {
      -webkit-transition: margin 200ms ease;
      -moz-transition: margin 200ms ease;
      transition: margin 200ms ease;
    }

    .fa {
      font-size: 1.5em;


    }

    .fa-star {
      margin: 5px;
      padding: 10px;
      background-color: #FFDA71;
      border-radius: 5px;
      // margin-right: 25px;
    }

    .fa-arrow-right {
      padding: 15px;
      margin-left: 5px;
    }

    h2 {
      font-weight: 600;
      float: left;
      // margin-right: 30px;
      padding: 15px;
    }

    i {
      float: left;
    }
  }

  .user-list-like-count:hover {
    cursor: pointer;

    .fa-arrow-right {
      margin-left: 20px;
    }
  }

  .user-list-about {
    width: 250px;
    position: absolute;
    right: 30px;
    top: 250px;

    padding: 18px 25px 25px;
    background: #ebedf2;
    margin-bottom: 10px;

    h1 {
      margin-bottom: 10px;
      padding-bottom: 0;
      color: #474d59;
      font-size: 18px;
      line-height: 24px;
      font-weight: 600px;
    }

    p {
      font-family: 'Open Sans',sans-serif;
      font-weight: normal;
      color: #5e6573;
      font-size: 15px;
      line-height: 22px;
    }
  }

}
