#about-tab {
  margin: auto;

  #right-column {
    position: absolute;
    width: 300px;
    right: 30px;
    margin: auto;

    > div {
      font-family: 'Open Sans',sans-serif;
      font-weight: normal;
      color: #5e6573;
      font-size: 15px;
      line-height: 22px;
      margin: -15px;
      padding: 15px;
      border-radius: 5px;
      margin-bottom: 35px;
      position: relative;

      h1 {
        color: #474d59;
        font-weight: 600;
        font-size: 18px;
        line-height: 14px;
        font-weight: 600;
        display: block;
        padding-bottom: 8px;
        border-bottom: 1px solid #ccd0d9;
      }
    }

    > div:hover {
      background: #fff;
      cursor: pointer;
    }

  }

  #about-list {
    width: 525px;
    margin: auto;

    li {
      margin-bottom: 40px;
      display: block;
      position: relative;

      .fa.fa-pencil {
        float: left;
        line-height: 40px;
        cursor: pointer;
      }

      .about-title {
        float: left;
        color: #474d59;
        font-weight: 600;
        font-size: 18px;
        line-height: 40px;
        font-weight: 600;
      }

      .about-title:after {
        white-space: pre;
        content: '  '
      }

      .info-box {
        float: left;
        width: 500px;
        display: block;
        line-height: 22px;
        word-wrap: break-word;
        font-family: 'Open Sans',sans-serif;
        font-weight: normal;
        color: #5e6573;
        margin-bottom: 40px;
      }

      #about-detail-edit-form {
        width: 500px;
        display: block;
        word-wrap: break-word;
        font-family: 'Open Sans',sans-serif;
        font-weight: normal;
        max-width: 500px;
        padding: 9px;
        padding-right: 16px;
        background: #FFF;
        border: 1px solid #ccd0d9;
        color: #5e6573;
        min-height: 110px;
        max-height: 460px;
        resize: none;
        overflow: auto;
        margin: 0 10px 10px 0;
        border-radius: 2px;
        font-size: 15px;
        line-height: 22px;
      }

      .submit-button {
        width: 120px;
        height: 42px;
        line-height: 41px;
        font-size: 15px;
        white-space: nowrap;
        color: #fff;
        text-align: center;
        text-transform: none;
        overflow: hidden;
        border-radius: 2px;
        background-color: #3260c7;
      }

      .cancel-button {
        margin-left: 10px;
        width: 120px;
        height: 42px;
        line-height: 41px;
        font-size: 15px;
        white-space: nowrap;
        color: #5e6573;
        text-align: center;
        text-transform: none;
        overflow: hidden;
        border-radius: 2px;
        border: 1px solid #ccd0d9;;
      }
    }

  }

}
