.info-edit-modal {
  color: #fff;
  font-size: 15px;
  font-family: 'Open Sans',sans-serif;
  height: 380px;
  background: #104da1;
  border-radius: 5px;
  margin-bottom: 0px;

  h1 {
    font-size: 22px;
    text-align: center;
  }

  input {
    width: 187px;
    padding: 9px;
    padding-right: 16px;
    background: #FFF;
    // border: 1px solid #ccd0d9;
    color: #5e6573;
    margin: auto;
    border-radius: 2px;
    font-size: 15px;
    line-height: 22px;
    box-shadow: none;
    -webkit-transition: border-color 75ms ease-in;
    -moz-transition: border-color 75ms ease-in;
    transition: border-color 75ms ease-in;
  }

  label {
    .dropdown {
      margin-left: 5px;
      margin-right: 5px;
      width: 210px;
      display: inline-block;
      vertical-align: top;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      zoom: 1;
      font-size: 18px;
      line-height: 58px;
      box-shadow: 0 2px 1px #07408d;


      select {
        font-weight: lighter;
        text-align: center;
        color: #fff;
        border: none;
        width: 210px;
        padding-left: 50px;
        background: transparent;
        font-size: 16px;
        height: 34px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
      }
    }
  }

  .edit-button {
    display: block;
    margin: auto;
    width: 120px;
    height: 42px;
    line-height: 41px;
    font-size: 15px;
    white-space: nowrap;
    background-color: #104da1;
    text-align: center;
    text-transform: none;
    overflow: hidden;
    border: 1px solid #4879c1;
  }


  #continue_button {
    width: 120px;
    height: 42px;
    line-height: 41px;
    font-size: 15px;
    white-space: nowrap;
    background-color: #104da1;
    text-align: center;
    text-transform: none;
    overflow: hidden;
    border: 1px solid #4879c1;
  }

  #continue_button:hover {
    background-color: #9dbaf2;
  }
}
