#questions-tab {
  #question-item {
    position: relative;
    width: auto;
    border-bottom: 1px solid #ccd0d9;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    opacity: 1;
    border-radius: 3px;
    background: #fff;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;

    h1 {
      font-family: 'Open Sans',sans-serif;
      font-weight: normal;
      color: #5e6573;
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 15px;
    }

    .not-disabled {
      background-color: #3260c7;
    }

    .not-disabled:hover {
      background-color: #254691;
    }

    .disabled {
      background-color: #333B4A;
    }

    .disabled:hover {
      cursor: auto;
    }

    .explanation {

      h3 {
        opacity: 1;
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        line-height: 16px;
        padding-left: 20px;
        padding-top: 20px;
        color: #5e6573;
      }

      p {
        opacity: 1;
        text-align: left;
        font-size: 16px;
        line-height: 16px;
        padding-left: 20px;
        color: #949aa6;
      }
    }

    .question-options {
      position: absolute;
      bottom: 15px;
      display: block;

      -webkit-transition: opacity .25s ease;
      -moz-transition: opacity .25s ease;
      -o-transition: opacity .25s ease;
      -ms-transition: opacity .25s ease;
      transition: opacity .25s ease;

      opacity: 0;
      color: #949aa6;

      .fa.fa-pencil {
        color: #949aa6;
      }

      .explain-button {
        float: left;
      }

      .explain-button:hover {
        color: #3260c7;

        .fa.fa-pencil {
          color: #3260c7;
        }
      }

      .explain-button:before {
        .fa.fa-pencil {
          color: grey;
        }
      }

      .fa.fa-pencil:after {
        white-space: pre;
        content: ' '
      }

      .re-answer-button {
        float: right;
        padding-left: 285px;
      }

      .re-answer-button:hover {
        color: #3260c7;
      }
    }

    #answer-item {
      .answered {
        color: #00d280;
      }

      .answered:before {
        white-space: pre;
        content: '  \2713 ';
      }

      .acceptable:before {
        white-space: pre;
        content: ' • ';
      }

      .unacceptable {
        text-decoration: line-through;
        color: grey;
      }

      .unacceptable:before {
        white-space: pre;
        content: ' • ';
      }

      .indifferent {
        color: #00d280;
      }

      .indifferent:before {
        color: grey;
        white-space: pre;
        content: ' • ';
      }

      li {
        padding: 10px;
      }
    }

    .explain-form {
      opacity: 1;
    }
  }

  #question-item:hover {
    .question-options {
      opacity: 1;
    }
  }

  h2 {
    font-size: 16px;
    line-height: 36px;
    font-weight: 600;
    color: #5e6573;
    padding-bottom: 20px;
  }

  p {
    font-size: 14px;
    font-weight: 400px;
    color: #5e6573;
  }

  .answer-button {
    width: 120px;
    height: 42px;
    line-height: 41px;
    font-size: 15px;
    white-space: nowrap;
    color: #fff;
    text-align: center;
    text-transform: none;
    overflow: hidden;
    border-radius: 2px;
    background-color: #3260c7;
  }

  .skip-button {
    margin-left: 10px;
    width: 120px;
    height: 42px;
    line-height: 41px;
    font-size: 15px;
    white-space: nowrap;
    color: #5e6573;
    text-align: center;
    text-transform: none;
    overflow: hidden;
  }

  .cancel-button {
    margin-left: 10px;
    width: 120px;
    height: 42px;
    line-height: 41px;
    font-size: 15px;
    white-space: nowrap;
    color: #5e6573;
    text-align: center;
    text-transform: none;
    overflow: hidden;
    border-radius: 2px;
    border: 1px solid #ccd0d9;
  }

  .skip-button:hover {
    color: #4c7bd9;
  }

  textarea {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    min-height: 70px;
    border: 1px solid #ccd0d9;
    border-radius: 2px;
    padding: 20px;
    color: #5e6573;
  }

  ul {
    padding-bottom: 30px;

    .choice-button {

      color: #5e6573;
      display: block;

      i {
        color: #ccd0d9;
        font-size: 1.5em;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      i:after {
        white-space: pre;
        content: " ";
      }

      span {
        font-size: 15px;
        padding: 5px;
      }

      .fa-check-circle-o {
        color: #4c7bd9;
      }

      .fa-check-square-o {
        color: #4c7bd9;
      }

    }

    .choice-button:hover {

      i {
        color: #5e6573;
      }

      .fa-check-circle-o {
        color: #4c7bd9;
      }

      .fa-check-square-o {
        color: #4c7bd9;
      }

      span {
        cursor: default;
      }
    }
  }

  .importanceButtons {
    display: block;
    margin-bottom: 30px;

    p {
      color: #5e6573;
    }

    div {
      color: #ccd0d9;
      font-size: 15px;
      padding: 10px;
    }

    label {
      width: 145px;
      float: left;

      p {
        text-align: center;
        color: #5e6573;
        font-size: 15px;
        padding: 10px;
      }

      .importance-button {
        width: 143px;
        height: 18px;
        margin-bottom: 5px;
        margin-top: 5px;
        border-radius: 2px;
      }

      .hovered {
        background: #5e6573;
      }

      .not-hovered {
        background: #ebedf2;
      }

      .not-hovered:hover {
        background: #9DA3AF;
      }

      .selected {
        background: #4c7bd9;
      }

      .selected:hover {
        background: #618EE8;
      }
    }
  }
}
