  #questionItemForm {
    position: relative;
    width: auto;
    border-bottom: 1px solid #ccd0d9;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    opacity: 1;
    border-radius: 3px;
    background: #fff;
    padding: 30px;

    h1 {
      font-family: 'Open Sans',sans-serif;
      font-weight: normal;
      color: #5e6573;
      font-size: 15px;
      line-height: 22px;
    }

  }
