.chat-window {
  right: 30px;
  position: absolute;
  bottom: 30px;
  overflow: hidden;
  float: right;
  width: 440px;
  height: 430px;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 17, 53, 0.16), 0 0 5px 0 rgba(0, 17, 53, 0.16);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  font-family: 'Open Sans',sans-serif;
  opacity: 1;
  z-index: 5;



  .chatlog-box {
    min-height: 150px;
    max-height: 200px;
    margin: 20px;
    box-sizing: content-box;
    border: 1px solid #ccd0d9;
    z-index: 6;
    width: 400px;
    overflow-y: scroll;
    display: block;

    .msg-item {
      display: block;
      width: 390px;
      float: left;

      .current-user-message {
        max-width: 150px;

        float: right;
        overflow-wrap: break-word;

      }

      .other-user-message {
        max-width: 150px;

        float: left;
        overflow-wrap: break-word;

       }

    }



  }

  .new-message-box {
    max-height: 60px;
    overflow-y: scroll;
    width: 320px;
    padding: 11px 8px 8px 13px;
    font-size: 14px;
    line-height: 21px;
    background: #FFF;
    border: 1px solid #ccd0d9;
    color: #5e6573;
    margin: 0 20px 10px 20px;
    border-radius: 2px;


  }

  .send-message-button {
    background: #FFF;
    border: 1px solid #ccd0d9;
    color: #5e6573;
    margin: 0 10px 10px 0;
    border-radius: 2px;
    background-color: #3260c7;
    white-space: nowrap;
    color: #fff;
    text-align: center;
    text-transform: none;
    overflow: hidden;
    border-radius: 2px;
    border: none;
    padding: 0;
    vertical-align: top;
  }


}
