#like-toggle {
  text-align: center;
  line-height: 34px;

  z-index: 6;
  top: 73px;
  margin: 0;
  position: absolute;
  left: 50%;
  width: 128px;
  margin-left: -64px;

  font-size: 16px;
  white-space: nowrap;
  cursor: pointer;

  padding: 0;
  vertical-align: top;
  height: 42px;
  text-transform: none;
  overflow: hidden;
  border-radius: 2px;
  font-size: 15px;

  i {
    line-height: 34px;
  }

  i:after {
    white-space: pre;
    content: '  ';
  }
}

.liked {
  background: transparent;
  border: 1px solid #ffd939;

  color: #e4edfd;
  i {
    color: #ffd939;
  }
  font-size: 16px;
}

.not-liked {
  background: transparent;
  border: 1px solid #ccd0d9;


  color: #ccd0d9;
  font-size: 16px;

  i {
    color: #ccd0d9;
  }
}

.on-match-page {

  .not-liked {

    color: #5e6573;
    font-size: 16px;

    i {
      color: #5e6573;
    }

  }

  .not-liked:hover {
    background-color: #ccd0d9;
  }

  .liked {
    background: #ffb640;
    border: 1px solid #ffb640;

    color: white;
    i {
      color: white;
    }
    font-size: 16px;
  }

  .liked:hover {
    background-color: #ffd939;
  }
}

// border: 1px solid #ccd0d9;
// color: #5e6573;
// line-height: 39px;
// background-color: rgba(174,180,191,0.1);
