.form_one {

}

.form_one_item {
  float: left;
}

.dropdown {
  width: 230px !important;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  font-size: 18px;
  line-height: 58px;
  box-shadow: 0 2px 1px #07408d;
  cursor: pointer;
}
