.form_two_item {
  float: left;
}

.row {
  margin-bottom: 20px;
}

.birthdate_label > input {
  width: 50px;
  padding: 9px;
  padding-right: 16px;
  background: #FFF;
  border: 1px solid #ccd0d9;
  color: #5e6573;
  margin: 0 10px 10px 0;
  border-radius: 2px;
  font-size: 15px;
  line-height: 22px;
  box-shadow: none !important;
  -webkit-transition: border-color 75ms ease-in;
  -moz-transition: border-color 75ms ease-in;
  transition: border-color 75ms ease-in;
}
