#profile-footer {
  background: #104da1;
  section {
    padding: 40px 0 44px;
    color: #4c7bd9;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 28px;

    display: block;
    border: 0;
    outline: 0;
    width: 900px;
    margin: auto;


    .footer-links {
      display: block;
      float: left;
    }

    .footer-links > li {
      margin-left: 30px;
      float: left;
    }

    .footer-copyright {
      float: right;
      display: block;
    }

    a:hover {
      color: #192642;
    }


  }

  // div {
  //   background: #104da1;
  //   height: 60px;
  //   bottom: -100%;
  //   display: block;
  //   width: 100%;
  //   position: absolute;
  // }
}
