#navigation {
  background: #104da1;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90000;
  height: 66px;
  transition-property: padding-right,min-width;

  font-family: 'Open Sans',sans-serif;
  font-weight: normal;
  color: #5e6573;
  font-size: 15px;

  min-width: 940px;
  margin: auto;

  .nav-item {
    float: left;
    color: #d6e1f9;
  }

  .nav-links {
    margin: 0 10px;
    display: inline-block;
  }

  #nav-left {
    float: left;
    margin-left: 35px;

    a {
      padding: 4px 23px 0;
      font-size: 16px;
      line-height: 61px;
    }

    .nav-logo {
      float: left;
    }

    #logo {
      position: absolute;
      top: 8px;
      height: 50px;
      width: 50px;
    }

    .nav-links {
      float: left;
    }

    .nav-item {
      a {
        position: relative;
        display: block;
        color: #d6e1f9;
      }
    }
  }

  #nav-right {
    float: right;
    margin-right: 15px;

    .nav-links > li {
      cursor: pointer;
      float: left;
      padding: 4px 23px 0;
      font-size: 16px;
      line-height: 61px;
    }

    .glyph p {
      position: absolute;
      display: none;

    }

    .fa {
      margin-top: 15px;
      font-size: 2em;
    }



    .glyph:hover {

      #visitors-glyph {
        padding: 0px;
        top: 60px;
        display: block;
        color: white;
        height: 10px;
        right: 316px;


        i {
          top: -35px;
          position: absolute;
          color: black;
          font-size: 2em;
        }

        .poptext {
          top: -25px;
          padding: 10px;
          right: -48px;
          position: absolute;
          z-index: 100;
        }

        .blankbox {
          background-color: black;
          position: absolute;
          padding: 10px 38px 20px 40px;
          right: -50px;
          z-index: 99;
        }
      }

      #likes-glyph {
        padding: 0px;
        top: 60px;
        display: block;
        color: white;
        height: 10px;
        right: 238px;

        i {
          top: -35px;
          position: absolute;
          color: black;
          font-size: 2em;
        }

        .poptext {
          top: -25px;
          padding: 10px;
          right: -38px;
          position: absolute;
          z-index: 100;
        }

        .blankbox {
          background-color: black;
          position: absolute;
          padding: 10px 20px 20px 40px;
          right: -40px;
          z-index: 99;
        }
      }
    }

    #profile-drop-down {
      position: relative;

      #user-thumbnail {
        margin-top: 10px;
        border-radius: 50%;
        height: 42px;
        width: 42px;

        img {
          height: 50px;
          object-fit: cover;
        }
      }
    }

    #messages-drop-down {
      position: relative;
    }

    .header-profile-options {
      position: absolute;
      top: 71px;
      right: 2px;
      background: #fff;
      width: 200px;
      border-radius: 2px;
      z-index: 91000;
      box-shadow: 0 0 0 1px rgba(0,17,53,0.16),0 0 5px 0 rgba(0,17,53,0.16);

      i {
        position: absolute;
        color: #fff;
        font-size: 2em;
        position: absolute;
        top: -35px;
        right: 32px;
      }

      li {
        display: block;
        color: #949aa6;

        button {
          width: 200px;

          text-align: center;
        }
      }

      li:hover {
        position: relative;
        display: block;
        color: #104da1;

      }

      .inbox-link {
        text-align: center;
        background-color: #1F64C3;
        color: white;
        cursor: default;
        // cursor: pointer;
      }

      .inbox-link:hover {
        // background-color: #104da1;
        color: white;
      }

      .messages-list {
        max-height: 300px;
        overflow-y: scroll;
      }

    }

  }
}
