#content {
  background: #104da1;
}

.fa.fa-pencil {
  color: #00d280;
}

.fa.fa-pencil:hover {
  color: #04A265;
}

textarea {
  resize: none;
}

div#cloudinary-widget.widget.slider.multiple_enabled.active.opened {

}
