#viewed-user-profile-main {
  background: #104da1;
  margin: auto;
  width: 850px;
  position: relative;

  #viewed-user-header {
    padding-top: 0px;

    #viewed-user-thumbs {
      float: left;
      position: relative;
      z-index: 2;
      width: 180px;
      height: 180px;
      display: block;
      top: 50px;
      left: 0;
      background-color: white;
      border-radius: 100%;
      cursor: pointer;
      overflow: hidden;

      img {
        min-height: 180px;
        min-width: auto;
      }
    }

    #basic-information {
      position: relative;
      float: left;
      padding-left: 10px;
      max-width: 370px;
      white-space: nowrap;
      color: #e4edfd;
      font-weight: 300;
      font-size: 18px;
      line-height: 26px;
      font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
      top: 85px;


      #user-name {
        text-align: left;
        padding-left: 8px;
        color: #FFF;
        font-weight: 300;
        font-size: 34px;
        line-height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      ul {
        top: 0;
      }

      > li {
        float: left;
      }

      li:first-child:after {
        white-space: pre;
        content: ' • ';
      }
    }

    #widget-buttons {
      float: right;
      padding-top: 110px;
      text-align: center;

      > button {
        margin-right: 15px;
        height: 46px;
        width: 132px;
        border-radius: 4px;
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
      }

      #like-toggle {
        position: relative;
        float: left;
        left: 0px;
        top: 0px;
      }

      #message-button {
        color: white;
        display: block;
        position: relative;
        border: none;
        padding: 0;
        vertical-align: top;
        float: right;
        cursor: pointer;
        height: 46px;
        margin-right: 8px;
        margin-right: 0;
        background: #4c7bd9;
        width: 132px;
        font-size: 16px;
        line-height: 44px;
        border-radius: 4px;
        box-shadow: 0 0 0 transparent;
      }

    }

  }
}
